{% extends "index.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Enter a project/user name</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="POST" action="/" enctype="multipart/form-data">
	<div class="form-group">
    	<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" name="name" required>
  	</div>

	<button type="submit" class="btn btn-primary" value="Submit">Submit</button>
</form>
{% endblock %}

