{% extends "index.html" %}

{% block title %}Input Log{% endblock %}

{% block content %}
<h2>Select the log and upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		{% for message in messages %}
		  <div class="alert alert-warning alert-dismissible">
		    <button type="button" class="close" data-dismiss="alert">&times;</button>
		    {{ message }}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
</p>
<form method="POST" action="/log" enctype="multipart/form-data">
	<div class="form-group">
		<div class="custom-file">
			<input type="file" name="file" autocomplete="off" class="custom-file-input">
			<label class="custom-file-label" for="image">Select log...</label>
		</div>
	</div>
	<button type="submit" class="btn btn-primary" value="Upload">Upload</button>
	{% if log_uploaded_before %}
	  <button type="submit" class="btn btn-primary" name="skip" value="Skip">Skip (Use already uploaded file)</button>
	{% endif %}
</form>
{% endblock %}

