{% extends "index.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
{% for item in cluster_labels %}
    <h2>For Cluster: {{item}}</h2>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Recall</th>
          <th scope="col">Precision</th>
          <th scope="col">F1-Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{measures.get(item)[0]}}</td>
          <td>{{measures.get(item)[1]}}</td>
          <td>{{measures.get(item)[2]}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Length</th>
          <th scope="col">FSPs</th>
        </tr>
      </thead>
      <tbody>
      {% for length in range(3) %}
        <tr>
                <td>
                    {% if length == 2 %}
                    Closed
                    {% else %}
                    {{length+1}}
                    {% endif %}
                </td>
                <td>
                    {% for element in cluster_fsps.get(item)[length] %}
                        <div>{{', '.join(element[0])}}</div>
                    {% endfor %}
                </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endfor %}
</div>

<div style="text-align: center">
<a href="/download_xes" target="blank"> <button class="btn btn-primary" >Download (XES)</button></a>
<a href="/download_csv" target="blank"> <button class="btn btn-primary" >Download (CSV)</button></a>
</div>
{% endblock %}