{% extends "index.html" %}

{% block title %}Thresholds{% endblock %}

{% block content %}

<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>

<style type="text/css">
div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/loader.gif) no-repeat;
    cursor: wait;
    position: absolute;
    left: 50%;
    top: 50%;
    }
</style>


<div id="content">

<h2>Set the parameters for clusters</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		{% for message in messages %}
		  <div class="alert alert-warning alert-dismissible">
		    <button type="button" class="close" data-dismiss="alert">&times;</button>
		    {{ message }}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
</p>
<form method="POST" action="/thresholds" enctype="multipart/form-data">
	<div class="form-group">
        <label for="relativeSupport">Relative Support: </label>
        <output id="outRelativeSupport" for="relativeSupport" readonly style="border:0; color:#000000; font-weight:bold;"></output>
		<input type="range" class="custom-range" id="relativeSupport" min="0" max="1" value="0.5" step="0.01" name="support" autocomplete="off" required>      
		<label for="relativeSupport" class="float-left">0.0</label>
		<label for="relativeSupport" class="float-right">1.0</label>
    </div>

	<br>
	{% for cluster in cluster_labels %}
	
	<h2>For cluster: {{cluster}}</h2>

	<div class="form-group">
		<br>
    	<label for="threshold1">Relative Threshold 1: </label>
		<output id="outThreshold1" for="threshold1" readonly style="border:0; color:#000000; font-weight:bold;"></output>
		<input type="range" class="custom-range" id="threshold1" min="0" max="1" value="0.5" step="0.01" placeholder="Threshold" name="threshold1" autocomplete="off" required>		
		<label for="threshold1" class="float-left">0.0</label>
		<label for="threshold1" class="float-right">1.0</label>
  	</div>
  	<div class="form-group">
  		<br>
    	<label for="threshold2">Relative Threshold 2: </label>
		<output id="outThreshold2" for="threshold2" readonly style="border:0; color:#000000; font-weight:bold;"></output>
		<input type="range" class="custom-range" id="threshold2" min="0" max="1" value="0.5" step="0.01" placeholder="Threshold" name="threshold2" autocomplete="off" required>
		<label for="threshold2" class="float-left">0.0</label>
		<label for="threshold2" class="float-right">1.0</label>
  	</div>
  	<div class="form-group">
  		<br>
	   	<label for="threshold3">Relative Threshold 3: </label>
		<output id="outThreshold3" for="threshold3" readonly style="border:0; color:#000000; font-weight:bold;"></output>
		<input type="range" class="custom-range" id="threshold3" min="0" max="1" value="0.5" step="0.01" placeholder="Threshold" name="threshold3" autocomplete="off" required>
		<label for="threshold1" class="float-left">0.0</label>
		<label for="threshold1" class="float-right">1.0</label>
  	</div>

	{% endfor %}

	<br>
	<button type="submit" class="btn btn-primary" value="Submit" onclick="loading()">Submit</button>
</form> 

</div>
<div id="loading"></div>


<script>

var threshold1 = document.getElementById("threshold1");
var outThreshold1 = document.getElementById("outThreshold1");
outThreshold1.value = threshold1.value;

threshold1.oninput = function() {
  outThreshold1.value = this.value;
}

var threshold2 = document.getElementById("threshold2");
var outThreshold2 = document.getElementById("outThreshold2");
outThreshold2.value = threshold2.value;

threshold2.oninput = function() {
  outThreshold2.value = this.value;
}

var threshold3 = document.getElementById("threshold3");
var outThreshold3 = document.getElementById("outThreshold3");
outThreshold3.value = threshold3.value;

threshold3.oninput = function() {
  outThreshold3.value = this.value;
}

var relativeSupport = document.getElementById("relativeSupport");
var outRelativeSupport = document.getElementById("outRelativeSupport");
outRelativeSupport.value = relativeSupport.value;

relativeSupport.oninput = function() {
  outRelativeSupport.value = this.value;
}


</script>

{% endblock %}