{% extends "index.html" %}

{% block title %}Thresholds{% endblock %}

{% block content %}

<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>

<style type="text/css">
div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/loader.gif) no-repeat;
    cursor: wait;
    position: absolute;
    left: 50%;
    top: 50%;
    }
</style>

<div id="content">

<h2>Set the parameters for clusters</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="POST" action="/thresholds" enctype="multipart/form-data">
	<div class="form-group">
        <label>Relative Support</label>
        <input type="range" class="form-control-range" id="formControlRange" name="support" required>
    </div>

	{% for cluster in cluster_labels %}

	<h2>For cluster: {{cluster}}</h2>

	<div class="form-group">
    	<label>Relative Threshold 1</label>
		<input type="range" class="form-control-range" id="formControlRange" placeholder="Threshold" name="threshold1" required>
  	</div>
  	<div class="form-group">
    	<label">Relative Threshold 2</label>
    	<input type="range" class="form-control-range" id="formControlRange" placeholder="Threshold" name="threshold2" required>
  	</div>
  	<div class="form-group">
    	<label">Relative Threshold 3</label>
    	<input type="range" class="form-control-range" id="formControlRange" placeholder="Threshold" name="threshold3" required>
  	</div>

	{% endfor %}

	<button type="submit" class="btn btn-primary" value="Submit" onclick="loading()">Submit</button>
</form> 

</div>
<div id="loading"></div>


{% endblock %}